<footer class="footer">
  <hr />
  <p> Copyright &copy; --- OldToys 2022/23 --- <a href="mailto:jlelangmo@gmail.com">Email: jlelangmo </a> --- <a href="https://discord.gg/GxvDAptdMX">Discord Support</a> --- Tlf: 76549085 --- <a href="/AboutUs">Om oss</a> </p>
</footer>
