<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="main">
      <h1>Litt om Nettbutikken</h1>
      <h3>Denne buttikken er laget for en programmeringsoppgave 2022/23</h3>
    </div>

    <%- include('./partials/footer') %>

  </body>
</html>