<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="main">
      <h2>Logg inn</h2>
      <div class="authForm authInput authLabel">
        <form class="login" action="/LoggInn" method="post">
          <label for="email">email:</label>
          <input type="email" name="email" required/><br> <br>
          <label for="password">password:</label>
          <input type="passsword" name="password" required/><br> <br>
          <button class="authBtn">Logg inn</button>
        </form>
      </div>
      <% if (typeof userError != 'undefined') { %>
        <h2 style="color: red;">ERROR: <%= userError %></h2>
      <% } %>
      <br> <br>
      <form action="/NyBruker" method="get">
        <button class="authNewBtn">Lag ny bruker</button>
      </form>
      <br />
    </div>

    <%- include('./partials/footer') %>

  </body>
</html>
