<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="main">
      <h2>Lag ny bruker</h2>
      <div class="authForm authInput authLabel">
        <form class="signup" action="/regBruker" method="post">
          <label for="email">email:</label>
          <input type="email" name="email" required/>
          <div class="email error"></div><br>
          <label for="password">password:</label>
          <input type="passsword" name="password" required/>
          <div class="password error"></div><br>
          <button class="authBtn">Registrer bruker</button>
        </form>
      </div>
      <br />
    </div>

    <%- include('./partials/footer') %>

  </body>
</html>
