<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="main">
      <h2>Lag ny bruker</h2>
      <div class="authForm authInput authLabel">
        <form class="signup" action="/regBruker" method="post">
          <label for="email">email:</label>
          <input type="email" name="email" required/>
          <div class="email error"></div><br>
          <label for="password">password:</label>
          <input type="passsword" name="password" required/>
          <div class="password error"></div><br>
          <button class="authBtn">Registrer bruker</button>
        </form>
      </div>
      <br />
    </div>

    <%- include('./partials/footer') %>

<!--     <script>
      const signupForm = document.querySelector('.signup');
      signupForm.addEventListener('submit', async (e) => {
        e.preventDefault();

        const email = signupForm.email.value;
        const password = signupForm.password.value;
        console.log(email, password);

        try {
          const res = await fetch('/regBruker', {
            method: 'post',
            body: JSON.stringify({ email, password }),
            headers: { 'Content-Type': 'apllication/json' }
          });
        }
        catch (err) {
          console.log(err);
        }
      });
    </script> -->

  </body>
</html>
